:root {
    --azulClaro: #65A2FC,
    --azulFuerte: #6175F2,
    --verdesillo: #65F2FC,
}
body {
    margin: 0 auto;
    padding: 0;
    background-color: #F7BB6F;
    font-family: 'Assistant', sans-serif;
}
h1 {
    font-family: 'Assistant', sans-serif;
}
p {
    font-size: 2rem;
    font-weight: 600;
}

.game-info{
    font-size: 1.5rem;
}
.container {
    display: flex;
    justify-content: center;
}

.user-gamebar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #6175F2;
}

button {
    width: auto;
    border: solid 1px;
    background-color: transparent;
}
img {
    width: 200px;
}

@media (max-width: 700px){
    img {
        width: 150px;
    }
}
@media (max-width: 492px){
    img {
        width: 100px;
    }
}
@media (max-width: 340px){
    h1{
        font-size: 1.5rem;
    }
    img {
        width: 70px;
    }
}
.vs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    .grid-el-1 { 
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
        justify-self: center;
     }
    .grid-el-2 { 
        grid-area: 2 / 1 / 3 / 2;
        margin-top: 0;
        justify-self: center;
     }
    .grid-el-3 { 
        grid-area: 1 / 2 / 3 / 3;
        align-self: center;
        justify-self: center;
     }
    .grid-el-4 { 
        grid-area: 1 / 3 / 3 / 4;
        align-self: center;
        justify-self: center;
     }
    .grid-el-5 { 
        grid-area: 1 / 4 / 2 / 5;
        align-self: center;
        justify-self: center;
     }
    .grid-el-6 { 
        grid-area: 2 / 4 / 3 / 5;
        margin-top: 0;
        justify-self: center;
     }



.pc-img {
    width: 100px;
    transform: scaleX(-1);
    
}
.user-img{
    width: 100px;
    margin-right: 20px;
}

.shakeU {
    transform: rotate(30deg);
    transition: 0.2s;
}
.shakeP {
    transform: rotate(-30deg) scaleX(-1);
    transition: 0.2s;
}

.win-message{
    margin: 0;
}
/*hi!*/